.trackItem {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: solid 1px rgb(231, 231, 231);
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    text-align: left;
  }

.song {
    padding-bottom: 2px;
}

.artistAlbum {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
  
}

.trackImg {
    width: 55px;
    height: 55px;
}

.button {
    position: relative;
    bottom: 40px;
    border: none;
    cursor: pointer;
    font-size: 22px;
}

.button:hover {
    color:rgb(174, 93, 174);
}

.button:active {
    font-weight: bold;
}


.audioPlayer::-webkit-media-controls-panel {
    width: 250px;
    height: 60px;
    background: white;
}

