.userPlaylistContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 625px;
    height: 300px;
    border: 1px solid rgb(245, 245, 245);
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    overflow: scroll;
}