.playlistContainer {
    padding-top: 20px;
    border: 1px solid rgb(245, 245, 245);
    width: 500px;
    height: 700px;
    overflow: scroll;
}

.playlistHeading {
    border: none;
    outline: none;
    border-bottom: solid 1px rgb(141, 102, 141);
    cursor: pointer;
    font-size: 22px;
}

.playlistHeading:hover {
    background: rgb(245, 245, 245);
}

.playlistPlaceholder {
    font-size: 13px;
}

.saveButton {
    margin-top: 10px;
    background: rgb(244, 239, 244);
    border: 1px solid white;
    width: 150px;
    border-radius: 50px;
    height: 45px;
}

.saveButton:hover {
    background-color: rgb(184, 151, 184);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(193,135,188,1) 65%, rgba(212,178,211,1) 79%, rgba(214,178,210,1) 79%, rgba(211,178,211,1) 100%, rgba(148,187,233,1) 100%);
    color: white;
}

.saveButton:active {
    font-weight: bold;
    
}