.playlistContainer {
    padding-top: 20px;
    border: 1px solid rgb(245, 245, 245);
    width: 500px;
    height: 700px;
    overflow: scroll;
}

.playlistHeading {
    border: none;
    outline: none;
    border-bottom: solid 1px rgb(141, 102, 141);
    cursor: pointer;
    font-size: 22px;
}

.playlistHeading:hover {
    background: rgb(245, 245, 245);
}

.playlistPlaceholder {
    font-size: 13px;
}

.saveButton {
    margin-top: 10px;
    border: 1px solid rgb(244, 239, 244);
    border-radius: 50px;
    height: 40px;
}

.saveButton:hover {
    background-color: rgb(244, 239, 244);
}

.saveButton:active {
    font-weight: bold;
    
}