.search, .searchButton {
    margin-bottom: 20px;
    border: 1px solid rgb(244, 239, 244);
    height: auto;
    border-radius: 3px;
    background: transparent;
    color: black;
}

.search:focus {
    outline: none;
}

.search {
    width: 180px;
}