.search, .searchButton {
    margin-bottom: 20px;
    border: 1px solid rgb(244, 239, 244);
    height: 20px;
    border-radius: 3px;
    background: transparent;
    color: black;
}

.search:focus {
    outline: none;
}

.search {
    width: 200px;
}

.searchButton {
    height: 24px;
}

.searchButton:hover {
    background-color: rgb(244, 239, 244);
}

.searchButton:active {
    font-weight: bold;
}