.playlistContainer {
    padding-top: 20px;
}

.playlist {
    padding-top: 20px;
    width: 300px;
    height: 700px;
    border: 1px solid blue;
}

.play {
    padding: 15px;
    border-bottom: 1px solid blue;
}